html,
body {
	margin: 0;
	padding: 0;
	}
body {
	background: #333;
	color: #111;
	font: 62.5%/1.8em "Lucida Grande", Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	}
table,
td,
input,
textarea,
select,
li {
	color: #111;
	font: 1em "Lucida Grande", Verdana, Arial, sans-serif;
	}
hr {
	display: none;
	}
address {
	font-style: normal;
	margin: 1em 0;
	}


/* =LOGIN
----------------------------------------------- */

body#login {
	background: #333;
	}
#loginContainer {
	background: #fff;
	border: 5px solid #222;
	border-top: 0;
	color: #333;
	font-size: 1.1em;
	margin: 10% auto 0 auto;
	padding: 0 25px;
	position: relative;
	text-align: left;
	width: 300px;
	}
#loginContainer h1 {
	background: #222;
	color: #fff;
	font-size: 1.5em;
	margin: 0 -25px;
	padding: 1em 0;
	text-align: center;
	}
#loginContainer p#intro {
	background: #eee;
	margin: 0 -25px 1em -25px;
	padding: 1em 25px;
	}
#loginContainer p#outro {
	background: #eee url(../graphics/tick.png) no-repeat 25px 1.1em;
	margin: 0 -25px 1em -25px;
	padding: 1em 25px;
	text-indent: 22px;
	}
#loginContainer .popPositive,
#loginContainer .popWarning,
#loginContainer .popNegative {
	background-position: 2em 50%;
	margin: -1em -25px 1em -25px;
	}
#loginContainer .popPositive h3,
#loginContainer .popWarning h3,
#loginContainer .popNegative h3 {
	text-indent: 1em;
	}
#loginContainer label {
	display: block;
	margin: 1em 0 .3em 0;
	}
#loginContainer .formField {
	padding: 5px;
	width: 288px;
	}
#loginContainer .checkbox {
	float: left;
	margin-top: 17px;
	}
#loginContainer .remember {
	float: left;
	display: inline;
	margin: 1.5em 0 1em .5em;
	}
#loginContainer .formButtonWrapper {
	clear: none;
	margin: 1em 0;
	}
#loginContainer #loginFooter {
	background: #eee;
	clear: both;
	margin: 0 -25px;
	padding: .5em 25px .8em 25px;
	position: relative;
	text-align: left;
	}
* html #loginContainer #loginFooter {
	margin-bottom: -19px;
	}
#loginContainer #loginFooter p {
	margin: .5em 0;
	}


/* =CONTAINER
----------------------------------------------- */

#container {
	background: #333;
	text-align: left;
	min-width: 960px;
	position: relative;
	z-index: 1;
	}
#content {
	background: #fff;
	font-size: 1.1em;
	margin: 0 15px;
	padding: .1em 15px 1em 15px;
	position: relative;
	z-index: 2;
	}
.columnWrapper {
	overflow: hidden;
	width: 100%;
	}
.column {
	float: left;
	margin-left: 1%;
	margin-bottom: 1em;
	width: 49.5%;
	}
.col3 {
	float: left;
	margin: 10px 0 10px 1%;
	width: 32.5%;
	}
.column .buttonWrapper,
.col3 .buttonWrapper {
	width: 100%;
	}
.column.first,
.col3.first {
	margin-left: 0;
	}


/* =HEADER
----------------------------------------------- */

#header {
	background: #333;
	border-top: 4px solid #222;
	height: 50px;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	}
#header h1 {
	color: #fff;
	font-size: 2.5em;
	font-weight: normal;
	margin: 0;
	position: relative;
	top: 10px;
	left: 10px;
	}
#header h1 span {
	color: #888;
	font: normal .6em "Lucida Grande", Verdana, Arial, sans-serif;
	margin-left: .5em;
	}


/* =FOOTER
----------------------------------------------- */

#footer {
	border-top: 5px solid #ddd;
	color: #888;
	font-size: 1.1em;
	margin: 0 15px;
	padding: 0 0 .5em 0;
	position: relative;
	text-align: right;
	}


/* =NAVIGATION
----------------------------------------------- */

/* tools */

#navTools,
#navTools li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#navTools {
	right: 15px;
	position: absolute;
	top: 0;
	z-index: 10;
	}
#navTools li {
	display: inline;
	margin: 0;
	}
#navTools li a {
	background: #222;
	color: #aaa;
	line-height: 3em;
	font-size: 1.1em;
	font-weight: bold;
	padding: 1em 1em .8em 1em;
	}
#navTools li span {
	padding: 1em 0;
	}
#navTools li a:hover {
	background: #1a1a1a;
	color: #fff;
	}

/* main navigation */

#navMain,
#navMain li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#navMain {
	background: #333;
	height: 3.6em;
	margin: 0;
	padding-left: 15px;
	position: relative;
	}
#navMain li {
	display: block;
	float: left;
	height: 3.6em;
	margin-right: 0 2px 0 0;
	}
#navMain li a {
	color: #63a6d9;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 3em;
	padding: 1em 15px;
	}
#navMain li a:hover {
	color: #fff;
	}
#navMain li a.selected {
	background: #fff;
	color: #111;
	}
#navMain li a:hover.selected {
	color: #111;
	}

/* secondary navigation */

#sub,
#sub li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#sub {
	background: #fff;
	border-bottom: 4px solid #eee;
	height: 3.6em;
	margin: 0 15px;
	padding-left: 15px;
	position: relative;
	z-index: 50;
	}
#sub li {
	display: block;
	float: left;
	height: 3.6em;
	margin-right: 0 2px 0 0;
	}
#sub li a {
	color: #63a6d9;
	font-size: 1.2em;
	font-weight: bold;
	margin-right: 2em;
	line-height: 3em;
	padding: 1em 0;
	}
#sub li a:hover {
	color: #111;
	}
#sub li a.selected {
	color: #111;
	}
#sub li a:hover.selected {
	color: #111;
	}


/* =SEARCH
----------------------------------------------- */

#search {
	background: #f2f2f2;
	display: inline;
	padding: 10px;
	position: absolute;
	right: -1px;
	top: -6.5em;
	}
#search label {
	display: none;
	}
#search #searchKeyword {
	background: #fff;
	border: 1px solid #ccc;
	float: left;
	padding: 5px 4px;
	width: 160px;
	}
#search #searchKeyword:focus {
	border: 1px solid #aaa;
	}
#search .formSelect {
	float: left;
	margin-left: 5px;
	width: 160px;
	}
#search #searchSubmit {
	background: #ccc;
	border: 0;
	color: #555;
	display: block;
	float: left;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin: 0 0 0 5px;
	text-transform: uppercase;
	}
#search #searchSubmit:hover {
	background: #555;
	color: #fff;
	cursor: pointer;
	}

/* order */

#order {
	display: block;
	position: absolute;
	right: 1em;
	top: 1.3em;
	}
#order label {
	display: inline;
	margin: .3em .5em .5em 1em;
	text-align: right;
	}
#order .formSelect {
	display: inline;
	width: 140px;
	}
#order .radio {
	display: inline;
	top: .2em;
	margin: 0;
	position: relative;
	}
#order #sortOrders {
	background: #ccc;
	border: 0;
	color: #555;
	display: inline;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin: 0 0 0 5px;
	text-transform: uppercase;
	}
#order #sortOrders:hover {
	background: #555;
	color: #fff;
	cursor: pointer;
	}


/* =TYPOGRAPHY
----------------------------------------------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
	}
h2 {
	background: none;
	border-bottom: 2px solid #f2f2f2;
	color: #111;
	font-size: 2em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 1em 0 1em 0;
	}
h2 span {
	color: #999;
	}
h3 {
	clear: both;
	color: #111;
	font-size: 1.2em;
	font-weight: bold;
	margin: .5em 0;
	text-transform: uppercase;
	}
h3 span {
	color: #999;
	font: italic 1em Georgia, Times, serif;
	font-weight: normal;
	text-transform: none;
	margin-left: .5em;
	}
h4 {
	color: #111;
	font-size: 1.09em;
	margin-bottom: .5em;
	}
h5,
h6 {
	color: #111;
	font-size: 100%;
	margin-bottom: -.5em;
	}
p.desc {
	background: #eee;
	color: #666;
	font-size: .91em;
	padding: .3em .5em;
	}
#builderCrumbs {
	background: #e9f2f9;
	border: 1px solid #b9d4e7;
	margin: -.5em 0 1.5em 0;
	padding: .5em 10px;
	}
#builderCrumbs span {
	color: #111;
	font-weight: bold;
	}
span.statusActive {
	background: url(../graphics/statusActive.png) no-repeat 0 50%;
	padding: 2px 0 2px 22px;
	}
span.statusInactive {
	background: url(../graphics/statusInactive.png) no-repeat 0 50%;
	padding: 2px 0 2px 22px;
	}
span.spanAmendAll {
	background: url(../graphics/amendAll.png) no-repeat 0 50%;
	margin-left: .5em;
	padding: 2px 0 2px 20px;
	}


/* =LISTS
----------------------------------------------- */

ul,
ul li,
ol,
ol li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
ul.bullets,
ul.bullets li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
ul.bullets {
	margin: 1em 0;
	}
ul.bullets li {
	list-style: disc;
	margin: 0 0 0 1.5em;
	padding: 0;
	}

/* standard content lists */

ul.linkList {
	margin: 1em 0;
	}
ul.linkList li {
	background: url(../graphics/bullet.gif) no-repeat .5em .5em;
	margin: 1em 0;
	padding-left: 1.5em;
	}
ul.linkList li p {
	line-height: 1.6em;
	margin: .5em 0;
	}


/* = BUILDER BLOCKS
----------------------------------------------- */

.builderBlock {
	background: #f9f9f9;
	border: 1px solid #e5e5e5;
	clear: both;
	margin: 1em 0;
	padding: 1em 10px 10px 10px;
	position: relative;
	}
.col3 h3 {
	background: none;
	margin: .5em 0;
	padding: 0;
	}
.builderBlock table {
	margin: 1em 0 0 0;
	}
.builderBlock .popNeutral {
	background: #fcfcfc;
	border: none;
	margin: 1em 0;
	padding: .1em 1em;
	}


/* =FORMS
----------------------------------------------- */

label,
td strong {
	font-weight: bold;
	}
label strong {
	border-bottom: 2px solid #bbb;
	}
label span {	
	color: #c00;
	}
span.formSymbol {
	margin-left: -1em;
	margin-top: .3em;
	position: absolute;
	}
.imgBlock {
	margin: 1em 0;
	}
.imgBlock label {
	line-height: 2em;
	}
input.imageGallery {
	display: block;
	width: 80px;
	}
input.formField {
	border: 1px solid #ccc;
	padding: 5px;
	width: 200px;
	}
textarea.formField {
	border: 1px solid #ccc;
	height: 100px;
	padding: 5px;
	width: 95%;
	}
textarea.formField.adminComments {
	margin: 1em 0 0 0;
	width: 95%;
	}
textarea.formField.col {
	width: 200px;
	}
textarea.formField.fck {
	height: 200px;
	width: 97.5%;
	}
textarea.formField.tall {
	height: 180px;
	}
.formField.short {
	width: 50px;
	}
.formField.sort {
	width: 25px;
	}
.formField.long {
	width: 400px;
	}
.formField.tall {
	height: 400px;
	}
.formField.date {
	width: 90px;
	}
.formSelect {
	border: 1px solid #ccc;
	padding: 4px 4px 4px 1px;
	width: 212px;
	}
.formSelect.short {
	padding: 4px 4px 4px 1px;
	width: 130px;
	}
.formSelect.sort {
	margin-bottom: .5em;
	width: 262px;
	}
.formSelect.sort option {
	margin-left: .2em;
	padding: .5em;
	}
.formSelect.attach {
	height: 260px;
	width: 100%;
	}
.formSelect.category {
	height: 260px;
	width: 100%;
	}
.formSelect.countries {
	height: 135px;
	width: 100%;
	}
.formSelect.attach option,
.formSelect.countries option {
	margin-left: .2em;
	padding: .5em;
	}
.col3 .formSelect {
	width: 95%;
	}
.formField:focus,
.formSelect:focus {
	border-color: #999;
	}
.checkbox {
	float: left;
	margin: .1em .5em 0 0;
	position: relative;
	}
.formRadio {
	margin: 0 .5em 0 0;
	}


/* =BUTTON/FORMBUTTON WRAPPERS
----------------------------------------------- */

.buttonWrapper,
.formButtonWrapper {
	float: left;
	height: 30px;
	margin-bottom: 0;
	overflow: hidden;
	width: 49%;
	}
.buttonWrapper.alt,
.formButtonWrapper.alt {
	float: right;
	}
.column .formButtonWrapper,
.column .formButtonWrapper {
	width: 100%;
	}
p.buttonWrapper a {
	-moz-user-select: none;
	-khtml-user-select: none;
	}

/* better buttons */

.buttonWrapper a:link,
.buttonWrapper a:visited,
.buttonWrapper a:active,
.formButtonWrapper button,
.buttonWrapper.alt a:link,
.buttonWrapper.alt a:visited,
.buttonWrapper.alt a:active,
.formButtonWrapper.alt button {
	background-color: #333;
	border: 1px solid #333;
	color: #ddd;
	cursor: pointer;
	display: block;
	float: left;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0 7px 0 0;
	padding: 5px 10px 6px 10px;
	text-decoration: none;
	}
.buttonWrapper.alt a,
.formButtonWrapper.alt button {
	float: right;
	margin-right: 1px;
	margin-left: 7px;
	}
.buttonWrapper a:hover,
.formButtonWrapper button:hover,
.buttonWrapper.alt a:hover,
.formButtonWrapper.alt button:hover {
	background: #222;
	color: #fff;
	}
.formButtonWrapper button {
	overflow: visible;
	padding: 4px 10px 3px 10px; /* IE6 */
	width: auto;
	}
.formButtonWrapper button[type] {
	line-height: 17px; /* Safari */
	padding: 5px 10px 5px 10px; /* Firefox */
	}
*:first-child+html button[type] {
	padding: 4px 10px 3px 10px; /* IE7 */
	}
.formButtonWrapper button img,
.buttonWrapper a img {
	border: none;
	height: 16px;
	margin: 0 2px -4px -4px !important;
	padding: 0;
	width: 16px;
	}

/* alternative button wrappers */

.formButtonWrapper.reorder,
.formButtonWrapper.attach {
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-bottom-width: 3px;
	margin: 0 0 0 0;
	}
.formButtonWrapper.attach {
	height: 27px;
	margin: 0 0 1em 0;
	}
.formButtonWrapper.reorder .formButton,
.formButtonWrapper.attach .formButton {
	background: none;
	border: none;
	color: #666;
	margin-right: 0;
	}
.formButtonWrapper.reorder .formButton:hover,
.formButtonWrapper.attach .formButton:hover {
	background: #eee;
	color: #111;
	}
td.associate .formButtonWrapper,
.buttonWrapper.prodBuilder {
	width: 100%;
	}
.formButtonWrapper.full,
.buttonWrapper.full {
	width: 100%;
	}
.formButtonWrapper.update {
	left: 310px;
	margin-top: -1.4em;
	position: relative;
	z-index: 500;
	}
.formButtonWrapper.update.inv {
	left: 250px;
	margin-top: .5em;
	position: absolute;
	}
.formButtonWrapper.update.cust {
	left: 185px;
	margin-top: 1.2em;
	position: absolute;
	}
.formButtonWrapper.update .formButton {
	background: none;
	border: none;
	color: #666;
	margin-right: 0;
	}
.formButtonWrapper.update .formButton:hover {
	color: #111;
	}


/* =TABLES
----------------------------------------------- */

table {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	border-collapse: collapse;
	clear: both;
	color: #333;
	line-height: 160%;
	margin: 1em 0;
	width: 100%;
	}

/* table headers */

thead th {
	background: #f2f2f2;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	font-weight: bold;
	padding: 8px 10px;
	}
thead th span {
	color: #999;
	}

/* table body */

tr.alTop td {
	padding-top: 10px;
	vertical-align: top;
	}
td {
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	height: 3.3em;
	line-height: 1.6em;
	padding: 5px 12px;
	vertical-align: middle;
	}
td.first {
	width: 200px;
	}
td.manualReorder {
	width: 220px;
	}
td.manualReorder .formButtonWrapper {
	float: none;
	width: 100%;
	}
td.first.short {
	width: 150px;
	}
td.first.long {
	width: 320px;
	}
td.associate,
td.bundle,
td.half {
	vertical-align: top;
	width: 45%;
	}
td.associate {
	padding: 10px;
	}
td.plain,
th.plain {
	border: none;
	}
td label {
	text-align: right;
	}

/* specified header widths */

.headerPreview {
	width: 70px;
	}
.headerViewFiles {
	width: 100px;
	}
.headerSort {
	width: 45px;
	}
.headerTitle {
	width: 230px;
	}
.headerStatus {
	width: 50px;
	}
.headerDuplicate {
	width: 80px;
	}
.headerEdit {
	width: 50px;
	}
.headerNumber {
	width: 70px;
	}
.headerImage {
	width: 90px;
	}
.headerDelete {
	width: 70px;
	}
.headerDisassemble {
	width: 100px;
	}
.headerRemove {
	width: 85px;
	}
.subMenus {
	width: 100px;
	}
.headerOptionTitle {
	width: 220px;
	}
.headerOptionID {
	width: 70px;
	}
.headerCode {
	width: 70px;
	}
.headerAddedCost {
	width: 80px;
	}
.headerAddFile {
	width: 80px;
	}
.headerStock {
	width: 90px;
	}
.headerStockLevels {
	width: 80px;
	}
.headerBackorder {
	width: 110px;
	}
.headerFields {
	width: 120px;
	}
.headerType {
	width: 120px;
	}
.headerAttID {
	width: 80px;
	}
.headerAttPrefix {
	width: 90px;
	}
.headerAttSuffix {
	width: 90px;
	}
.headerInvNumber {
	width: 70px;
	}
.headerInvStatusSelect {
	width: 130px;
	}
.headerInvStatus {
	width: 70px;
	}
.headerInvoiceNumber {
	width: 70px;
	}
.headerID {
	width: 20px;
	}
.headerSID {
	width: 50px;
	}
.minimumOrder {
	width: 100px;
	}
.headerOptions {
	width: 140px;
	}
.headerDate {
	width: 100px;
	}
.headerDateLong {
	width: 180px;
	}
.headerOrderDate {
	width: 130px;
	}
.headerMethod {
	width: 80px;
	}
.headerPostageMethod {
	width: 130px;
	}
.headerPromotionDates {
	width: 170px;
	}
.headerPrice {
	width: 70px;
	}
.headerProductCode {
	width: 90px;
	}
.headerQuantity {
	width: 80px;
	}
.headerSelectAll {
	width: 20px;
	}
.headerShortName {
	width: 100px;
	}
.headerManage {
	width: 200px;
	}
.headerTaxID {
	width: 50px;
	}
.headerNewsletter {
	width: 80px;
	}
.headerSignupDate {
	width: 120px;
	}
.headerCustStatus {
	width: 90px;
	}
.headerCsvLine {
	width: 20px;
	}

/* invoice table */

#invTable td {
	padding-top: 0;
	width: 25%;
	}
span.invNumber,
span.invDate {
	color: #111;
	display: block;
	font-size: 2em;
	font-weight: normal;
	margin: .3em 0;
	}
td.invQuanitity {
	width: 80px;
	}
td.invOptions {
	width: 160px;
	}
td.invNotes {
	width: 160px;
	}
td.invItemPrice {
	width: 90px;
	}
td.invTotalPrice {
	width: 90px;
	}
td.invTitle {
	color: #111;
	font-size: 1.2em;
	}

/* specified table row widths */

tr.invSubTotals td {
	font-weight: bold;
	text-align: right;
	}
tr.invTotals td {
	color: #111;
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
	}
tr.invSubTotals td.price,
tr.invTotals td.price {
	text-align: left;
	}	

/* table header links */

thead a {
	color: #111;
	}
thead a:hover {
	color: #111;
	}


/* =LINKS
----------------------------------------------- */

a:link,
a:visited,
a:active {
	color: #63a6d9;
	text-decoration: none;
	}
a:hover {
	color: #111;
	text-decoration: none;
	}
a.imgAdd {
	display:block;
	}

/* active / inactive links */

a.statusActive {
	background: url(../graphics/statusActive.png) no-repeat 0 50%;
	padding: 2px 0 2px 22px;
	}
a.statusInactive {
	background: url(../graphics/statusInactive.png) no-repeat 0 50%;
	padding: 2px 0 2px 22px;
	}

/* pagination table gear */

div.pagination {
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	clear: both;
	margin-left: -1px;
	position: relative;
	}
* html div.pagination {
	margin-top: -20px;
	}
div.pagination .showing {
	float: left;
	margin-left: 10px;
	padding: .4em 0;
	width: 200px;
	}
div.pagination .pager {
	float: right;
	margin-right: 10px;
	}
div.pagination p {
	margin: .5em 0;
	}
div.pagination .formSelect.pagination {
	width: 50px;
	}

/* icon w/ text links */

a.linkSignup {
	background: url(../images/admin/linkSignup.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkNext {
	background: url(../images/admin/linkNext.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkPreview {
	background: url(../images/admin/linkPreview.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkDuplicate {
	background: url(../images/admin/linkDuplicate.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkEdit {
	background: url(../images/admin/linkEdit.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkDelete,
a.linkDisassemble {
	background: url(../images/admin/linkDelete.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkAdd {
	background: url(../images/admin/linkAdd.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkImage {
	background: url(../images/admin/linkImage.png) no-repeat 0 50%;
	line-height: 18px;
	margin-right: 5em;
	padding: 2px 0 2px 22px;
	}
a.linkAddImage {
	background: url(../images/admin/linkAddImage.png) no-repeat 0 50%;
	line-height: 18px;
	margin-right: 5em;
	padding: 2px 0 2px 22px;
	}
a.linkAddFile {
	background: url(../images/admin/linkImage.png) no-repeat 0 50%;
	line-height: 18px;
	margin-right: 5em;
	padding: 2px 0 2px 22px;
	}
a.linkFile {
	background: url(../images/admin/linkFile.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
p.addAnotherImage {
	float: left;
	margin-left: 25em;
	margin-top: -2.75em;
	}
a.linkGallery {
	background: url(../graphics/linkGallery.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}
a.linkReorder {
	background: url(../graphics/linkReorder.png) no-repeat 0 50%;
	padding-left: 18px;
	}
a.linkCalendar {
	background: url(../graphics/linkCalendar.png) no-repeat 0 50%;
	line-height: 18px;
	margin-left: 1em;
	padding: 2px 0 2px 22px;
	}
a.linkEmail {
	background: url(../images/admin/linkEmail.png) no-repeat 0 50%;
	line-height: 18px;
	padding: 2px 0 2px 22px;
	}

/* file types and targets */

a.linkExternal {
	background: url(../graphics/linkExternal.gif) no-repeat top right;
	padding-right: 12px;
	}


/* =IMAGES
----------------------------------------------- */

img {
	border: none;
	}
img.supplierLogo,
img.companyLogo {
	background: #fff;
	border: 1px solid #ddd;
	margin: .5em 0;
	padding: .5em;
	}


/* =MISC
----------------------------------------------- */

/* info boxes */

.popPositive {
	background: #dcffca url(../graphics/popPositive.png) no-repeat 10px 50%;
	border: 1px solid #a1cd8e;
	margin: 1em 0 0 0;
	padding: 0 10px 0 32px;
	}
.popNeutral {
	background: #e9f2f9;
	border: 1px solid #b9d4e7;
	margin: 1em 0 0 0;
	padding: 0 10px;
	}
.popWarning {
	background: #fff8db url(../graphics/popWarning.png) no-repeat 10px 50%;
	border: 1px solid #eeda88;
	margin: 1em 0 0 0;
	padding: 0 10px 0 32px;
	}
.popNegative {
	background: #f7e1e1 url(../graphics/popNegative.png) no-repeat 10px 50%;
	border: 1px solid #f7b8b8;
	margin: 1em 0 0 0;
	padding: 0 10px 0 32px;
	}
.popPositive h3,
.popWarning h3,
.popNegative h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 1em 0;
	text-indent: 22px;
	text-transform: none;
	}
.popPositive p,
.popNeutral p,
.popWarning p,
.popNegative p {
	margin: .5em 0;
	}
.popPositive ul,
.popNeutral ul,
.popNegative ul {
	margin: 1em 0;
	}
.popPositive ul li,
.popNeutral ul li,
.popNegative ul li {
	list-style-type: disc;
	margin-left: 1.5em;
	}

/* warning / highlight text */

span.warning {
	color: #d00;
	font-weight: bold;
	}

/* company information */

dl#companyInformation {
	margin: 1em 0 0 0;
	}
dl#companyInformation dt,
dl#companyInformation dd {
	line-height: 1.8em;
	margin: 0;
	padding: 0;
	}
dl#companyInformation dt {
	clear: left;
	float: left;
	font-weight: bold;
	margin-right: 1em;
	width: 160px;
	}
dl#companyInformation dd {
	float: left;
	margin-bottom: 1em;
	}
dl#companyInformation dd span {
	font-style: italic;
	}
.paymentGateway {
	padding-bottom: 0;
	}


/* =SHOPBUILDER ACCORDIONS
----------------------------------------------- */

#Acc1,
#Acc2 {
	margin-top: -1em;
	}
.Accordion {
	margin-bottom: .5em;
	overflow: hidden;
	}
.AccordionPanel {
	margin: 0;
	padding: 0;
	}
h3.AccordionPanelTab {
	background: #e5e5e5 url(../images/admin/collapsed.gif) no-repeat 1em -99px;
	cursor: pointer;
	margin: 1em 0 0 0;
	padding: 1em 1em 1em 2.7em;
	}
.AccordionPanelTab {
	-moz-user-select: none;
	-khtml-user-select: none;
	}
.AccordionPanelOpen .AccordionPanelTab {
	background: #e5e5e5 url(../images/admin/expanded.gif) no-repeat 1em -99px;
	}
.AccordionFocused .AccordionPanelTab,
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background: #e5e5e5 url(../images/admin/expanded.gif) no-repeat 1em 14px;
	}
.AccordionPanelContent {
	background: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-top: 0;
	overflow: hidden;
	margin: 0;
	padding: 0 1em;
}
.AccordionPanelContent table {
	margin: 0 0 10px 0;
	}
.AccordionPanelContent .buttonWrapper,
.AccordionPanelContent .formButtonWrapper {
	margin: 10px 0;
	}

/* payment gateway accordions */

.column h3.AccordionPanelTab {
	background: #e5e5e5 url(../images/admin/collapsed.gif) no-repeat 1em -106px;
	padding: .5em 1em .5em 2.7em;
	}
.column .AccordionPanelOpen .AccordionPanelTab {
	background: #e5e5e5 url(../images/admin/expanded.gif) no-repeat 1em -106px;
	}
.column .AccordionPanelContent {
	border: none;
	overflow: hidden;
	margin: 0;
	padding: 0 0 0 1px;
	}
.column .AccordionPanelContent table {
	margin: 0;
	}


/* =DASHBOARD TABBED PANELS
----------------------------------------------- */

.TabbedPanels {
	clear: none;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	}
.TabbedPanelsTab {
	background-color: #fff;
	color: #999;
	cursor: pointer;
	float: left;
	font-weight: bold;
	-khtml-user-select: none;
	list-style: none;
	-moz-user-select: none;
	height: 3em;
	line-height: 3em;
	margin: 0;
	outline: none;
	padding-left: 1.2em;
	padding-right: 1.2em;
	position: relative;
	}
.TabbedPanelsTabHover {
	color: #111;
	}
.TabbedPanelsTabSelected {
	background: #eee;
	color: #111;
	}
.TabbedPanelsTab a {
	text-decoration: none;
	}
.TabbedPanelsContentGroup {
	background-color: #fff;
	border: solid 4px #eee;
	clear: both;
	height: 17.1em;
	height: 18.2/**/em;
	margin-bottom: 1.5em;
	max-height: 17.1em;
	max-height: 18.2/**/em;
	max-height: 17.1em;
	max-height: 18.2/**/em;
	overflow: hidden;
	}

/* tabbed panel tables */

.TabbedPanelsContent table {
	border: 0;
	margin: 0;
	}
.TabbedPanelsContent table th {
	border-bottom-color: #eee;
	text-align: left;
	}
.TabbedPanelsContent table td {
	border: 0;
	border-top: 1px solid #eee;
	height: 2.8em;
	padding: 0 10px;
	}
.TabbedPanelsContent span.rank {
	color: #bbb;
	float: left;
	font-weight: bold;
	width: 1.8em;
	}
.TabbedPanelsContent p.viewAll {
	height: 3em;
	line-height: 3em;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	}
.TabbedPanelsContent p.viewAll a:link,
.TabbedPanelsContent p.viewAll a:visited,
.TabbedPanelsContent p.viewAll a:hover,
.TabbedPanelsContent p.viewAll a:active {
	background: url(../images/admin/iconView.gif) no-repeat right 50%;
	display: block;
	padding-right: 22px;
	}

/* reports tables */

.TabbedPanelsContent table th.short {
	width: 115px;
	}


/* LIGHTWINDOW POPUPS
----------------------------------------------- */

.imgBlock .lightwindow {
	clear: both;
	display: block;
	}
#lightwindow_overlay {
	display: none;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 500;
	}
#lightwindow {
	display: none;
	visibility: hidden;
	position: absolute;
	z-index: 999;
	line-height: 0;
	}
#lightwindow_container {
	display: none;
	visibility: hidden;
	position: absolute;
	padding: 0;
	margin: 0;
	}
* html #lightwindow_container {
	overflow: hidden;
	}
#lightwindow_contents {
	overflow: hidden;
	z-index: 0;
	position: relative;
	border: 3px solid #e5e5e5;
	background-color: #fff;
	-moz-box-shadow: #555 0 0 10px;
	-webkit-box-shadow: #555 0 0 10px;
	}		
#lightwindow_loading {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	}
#lightwindow_loading_shim { 
	display: none;
	left: 0; 
	position: absolute; 
	top: 0;
	width: 100%; 
	height: 100%;
	}
#lightwindow_loading span {
   	font-size: 12px;
	line-height: 32px;
	color: #333;
	float: left;
	padding: 0 10px 0 0;
	}
#lightwindow_loading img {
	float: left;
	margin: 0 10px 0 0;
	}
a#lightwindow_title_bar_close_link,	
a:link#lightwindow_title_bar_close_link,
a:visited#lightwindow_title_bar_close_link {
	background: #e5e5e5;
	color: #888;
	cursor: pointer;
	display: block;
	float: right;
	font-weight: bold;
	font-size: 1.1em;
	height: 27px;
	line-height: 27px;
	margin: 0 28px 0 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	z-index: 99999;
	}
a:hover#lightwindow_title_bar_close_link {
	color: #111;
	}


/* FILE UPLOADERS
----------------------------------------------- */

#uploader {
	background: #fff;
	font-size: 11px;
	margin: 0 10px;
	padding: .1em;
	text-align: left;
	}
#uploader h1 {
	font-size: 1.8em;
	}
#uploader #tabs {
	background: #fff;
	}
#uploader #tabs a {
	background: #fff;
	background-color: #fff;
	color: #999;
	cursor: pointer;
	float: left;
	font-weight: bold;
	-khtml-user-select: none;
	list-style: none;
	-moz-user-select: none;
	height: 3em;
	line-height: 3em;
	margin: 0;
	outline: none;
	padding-left: 1.2em;
	padding-right: 1.2em;
	position: relative;
	}
#uploader #tabs a:hover {
	color: #111;
	}
#uploader #tabs a.selected {
	background: #eee;
	color: #111;
	}
#uploader #tabcontent {
	background-color: #fff;
	border: solid 4px #eee;
	clear: both;
	overflow: hidden;
	padding: .1em 10px;
	}
#uploader #tabcontent .formButtonWrapper {
	clear: both;
	margin-bottom: 1em;
	width: 100%;
	}
#uploader #picnmix {
	background: #f2f2f2;
	border: 3px solid #e5e5e5;
	clear: both;
	margin: 1em 0;
	padding: .1em 10px;
	position: relative;
	}
#uploader #picnmix #delete {
	position: absolute;
	right: 10px;
	top: -4em;
	}


/* =CLEARFIX
----------------------------------------------- */

#loginContainer:after,
#content:after,
p.buttonWrapper:after,
p.formButtonWrapper:after,
p.buttonWrapper a:after,
p.formButtonWrapper button:after,
.builderBlock:after,
dl#companyInformation:after,
div.pagination:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	}
#loginContainer,
#content,
p.buttonWrapper,
p.formButtonWrapper,
p.buttonWrapper a,
p.formButtonWrapper button,
.builderBlock,
dl#companyInformation,
div.pagination {
	display: block;
	}
/*  \*/
#loginContainer,
#content,
p.buttonWrapper,
p.formButtonWrapper,
p.buttonWrapper a,
p.formButtonWrapper button,
.builderBlock,
dl#companyInformation,
div.pagination {
	min-height: 1%;
	}
* html #loginContainer,
* html #content,
* html p.buttonWrapper,
* html p.formButtonWrapper,
* html p.buttonWrapper a,
* html p.formButtonWrapper button,
* html .builderBlock,
* html dl#companyInformation,
* html div.pagination {
	height: 1%;
	}
/*  */