html,body {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #111;
	font: 62.5%/1.8em "微软雅黑","Lucida Grande", Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}
table,td,input,textarea,select,li {
	color: #111;
	font: 1em "微软雅黑","Lucida Grande", Verdana, Arial, sans-serif;
}
hr { display: none; }
address {
	font-style: normal;
	margin: 1em 0;
}
#loginContainer {
	background: #fff;
	border: 5px solid #222;
	border-top: 0;
	color: #333;
	font-size: 1.1em;
	margin: 10% auto 0 auto;
	padding: 0 25px;
	position: relative;
	text-align: left;
	width: 300px;
}
#loginContainer h1 {
	background: #222;
	color: #fff;
	font-size: 1.5em;
	margin: 0 -25px;
	padding: 1em 0;
	text-align: center;
}
#loginContainer label {
	display: block;
	margin: 1em 0 .3em 0;
}
#loginContainer .formField {
	padding: 5px;
	width: 288px;
}
#loginContainer .formButtonWrapper {
	clear: none;
	margin: 1em 0;
}
#loginContainer #loginFooter {
	background: #eee;
	clear: both;
	margin: 0 -25px;
	padding: .5em 25px .8em 25px;
	position: relative;
	text-align: left;
}
* html #loginContainer #loginFooter {
	margin-bottom: -19px;
}
#loginContainer #loginFooter p {
	margin: .5em 0;
}
input.formField {
	border: 1px solid #ccc;
	padding: 5px;
	width: 200px;
}
/* =BUTTON/FORMBUTTON WRAPPERS
----------------------------------------------- */
.formButtonWrapper {
	float: left;
	height: 30px;
	margin-bottom: 0;
	overflow: hidden;
	width: 49%;
}
.formButtonWrapper.alt {
	float: right;
}
.formButtonWrapper {
	width: 100%;
}
/* better buttons */
.formButtonWrapper button,
.formButtonWrapper.alt button {
	background-color: #333;
	border: 1px solid #333;
	color: #ddd;
	cursor: pointer;
	display: block;
	float: left;
	font-family: "微软雅黑","Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0 7px 0 0;
	padding: 5px 10px 6px 10px;
	text-decoration: none;
}
.formButtonWrapper.alt button {
	float: right;
	margin-right: 1px;
	margin-left: 7px;
}
.formButtonWrapper button:hover,
.formButtonWrapper.alt button:hover {
	background: #222;
	color: #fff;
}
.formButtonWrapper button {
	overflow: visible;
	padding: 4px 10px 3px 10px; /* IE6 */
	width: auto;
}
.formButtonWrapper button[type] {
	line-height: 17px; /* Safari */
	padding: 5px 10px 5px 10px; /* Firefox */
}
*:first-child+html button[type] {
	padding: 4px 10px 3px 10px; /* IE7 */
}
.formButtonWrapper button img {
	border: none;
	height: 16px;
	margin: 0 2px -4px -4px !important;
	padding: 0;
	width: 16px;
}